@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main-heading {
    max-width: 50vw;
    border: 2px solid #ead2ac;
    border-left: 2px solid #058ed9;
    border-bottom: 2px solid #058ed9;
    padding: 1rem;
    margin: .5rem;
    background-color: #dbaf50;
}

body {
    font-family: 'Roboto Slab', serif;
    background: #383961bc;
    
}

main {
    display: flex;
}

.boxes {
    height: 30vh;
    width: 60vw;
    margin: 50px;
    padding: 25px;
    border: 4px solid black;
    text-align: center;
    background-color: #383961ad;
}

button {
    background-color: #058ed9;
}

.hidden-content {
    display: none;
}

.hidden-content.reveal-btn {
    display: block;
}
