@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(/images/patrick-langwallner.jpg) no-repeat center/ cover;
}

/* stopwatch */

.container {
    width: 60%;
    height: 250px;
    background-color: whitesmoke;
    border-radius: 30px;
    box-shadow: 0 0 3px;
}

#timer {
    width: 100%;
    font-size: 72px;
    text-align: center;
    margin: 0px auto;
    padding: 35px;
}

.buttons {
    text-align: center;
}

button {
    margin: 0 10px;
    border: none;
}

button p {
    font-size: 2rem;
    padding: 10px;
    color: whitesmoke
}

#play {
    background-color: green;
}
#pause {
    background-color: orange;
}
#reset {
    background-color: red;
}